@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Tilt+Neon&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Neon', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.contaner {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 9%, rgba(253, 45, 189, 0.40388655462184875) 88%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-cont {
    width: 60%;
    height: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1% 0;
    box-shadow: 1px 8px 20px 11px #4a8cbea3;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.inside-cont h1{
    font-size: 2.5rem;
    font-weight: 900;
    filter: drop-shadow(-1px 10px 12px black);
}
.inside-cont .jokes{
    font-size: 1.8rem;
}
.btn{
    font-size: 1.5rem;

}
.btn:hover{
    border: none;
}
.btn:disabled{
    color: black;
}

.btn {
    width: 20%;
    height: 15%;
}
.hold{
    display: flex;
    align-items: center;
    gap: 1rem;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: rotate 2s linear infinite;
  }

  .error-message {
    color: rgb(255, 254, 254);
    font-size: 24px;
    text-align: center;
  }
  
  .error-message::before {
    content: "Oops!";
    display: block;
    font-size: 48px;
  }
  
  .error-message::after {
    content: "Something went wrong. Maybe the internet is on vacation!";
    display: block;
    font-size: 18px;
  }
  .smiley {
    font-size: 36px;
    display: inline-block;
    animation: bounce 2s infinite;
  }
  .smiley::before{
    content: '😃  ';
  }

  
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  